# Find RA and Dec for the members in Reino+2018 Hyades study

**Delete Gaia login credentials before publishing!**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('downloads/clusters_Reino/Hyades_Reino2018.txt', delimiter="\s+", skiprows=36, dtype={"source_id":str}).dropna(how='all')
df = df.rename(index=str, columns={'# HIP' : 'HIP',})
df = df.replace('  ""',-999)
df = df.replace(' ""',-999)
df.head()

,HIP,TYC,source_id,c,p,RV,e_RV,s_RV,plx_mod,e_plx_mod
0,NaN,1804-812-1,67351752990540544,0.4332,0.9333,35.280,1.092,8.0,22.658,0.158
1,NaN,1266-1286-1,3312644881687518976,0.2320,0.9723,40.730,1.078,8.0,21.223,0.161
2,NaN,1265-433-1,3312921374502681984,0.4752,0.9243,40.040,1.085,8.0,23.496,0.207
3,NaN,677-227-1,3306303998130681728,6.6793,0.0829,41.212,1.005,10.0,NaN,NaN
4,NaN,1266-1175-1,3309956850635519488,0.2382,0.9712,40.800,1.051,8.0,20.323,0.158

In [3]:
df.columns = df.columns.str.replace(' ', '')
#df.source_id = df.source_id.astype(float).apply(np.rint).astype(int)

In [4]:
df = df.replace(-999, np.nan)

In [5]:
df.tail(10)

,HIP,TYC,source_id,c,p,RV,e_RV,s_RV,plx_mod,e_plx_mod
241,NaN,1309-390-1,3402090461845409792,6.6244,0.0364,NaN,NaN,NaN,NaN,NaN
242,NaN,1286-461-1,3407612484118068352,1.2405,0.5378,NaN,NaN,NaN,14.852,0.301
243,NaN,1289-1656-1,3407518510233429248,0.1980,0.9057,NaN,NaN,NaN,18.468,0.309
244,NaN,1279-2259-1,3412605297699792512,0.2826,0.8682,NaN,NaN,NaN,23.681,0.212
245,NaN,1831-63-1,3413223223234482048,4.2138,0.1216,NaN,NaN,NaN,NaN,NaN
246,NaN,1286-2091-1,3407092655635564544,0.3046,0.8587,NaN,NaN,NaN,12.407,0.204
247,NaN,2405-952-1,3444787247130393600,6.0597,0.0483,NaN,NaN,NaN,NaN,NaN
248,15624.0,57-78-1,NaN,1.8677,0.3930,NaN,NaN,NaN,9.647,0.153
249,22802.0,1840-328-1,NaN,3.1865,0.2033,NaN,NaN,NaN,15.429,0.458
250,21092.0,NaN,NaN,1.5757,0.4548,NaN,NaN,NaN,33.196,1.600

In [6]:
df.to_csv('downloads/clusters_Reino/hyades_reino.csv',index=False)

# Find RA and Dec to each entry

In [7]:
pf = pd.read_csv('downloads/clusters_Reino/hyades_reino.csv',dtype={"source_id":str})

In [8]:
hip = pf.HIP.dropna().astype(int)
hip = hip.apply(lambda x:  'HIP {}'.format(str(x)))
hip.to_csv('downloads/clusters_Reino/hyades_reino_HIP.csv',index=False, header=False)

In [9]:
tyc = pf.TYC.dropna().str.strip()
tyc = tyc.apply(lambda x:  'TYC {}'.format(str(x)))
tyc.to_csv('downloads/clusters_Reino/hyades_reino_TYC.csv',index=False, header=False)

In [10]:
gaia = pf.source_id.dropna().astype(str).to_frame()

In [11]:
gaia.to_csv('downloads/clusters_Reino/hyades_reino_gaia.csv',index=False, header=False)

## HIP

In [12]:
hipsimbad = pd.read_table('downloads/clusters_Reino/simbad_HIP.tsv', delimiter='\t',skiprows=[0,1,2,3,4,6])

/projects/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  if __name__ == '__main__':

In [13]:
hipsimbad.columns = hipsimbad.columns.str.replace(' ', '')
hipsimbad['RAJ2000'] = hipsimbad['coord1(ICRS,J2000/2000)'].apply(lambda x: str(x).split('+')[0].strip())

hipsimbad['DEJ2000'] = hipsimbad['coord1(ICRS,J2000/2000)'].apply(lambda x: str(x).split('+')[-1].strip())
hipsimbad.typedident = hipsimbad.typedident.apply(lambda x: str(x)[4:])
hipsimbad.columns.values

array(['#', 'typedident', 'identifier', 'typ', 'alltypes',
       'coord1(ICRS,J2000/2000)', 'RAJ2000', 'DEJ2000'], dtype=object)

In [14]:
hipsimbad.DEJ2000

0      23.9036506884453
1      15.7062676548620
2      14.3984553871487
3      15.4994814523053
4      16.9984776944801
5      19.7406896359840
6      19.9067016030485
7      18.4232540113373
8      15.6981207260114
9      17.5247551530668
10     18.4175836815131
11     07.7497548423119
12     08.4544500819069
13     15.3350301185867
14          15.16278500
15     16.9478361164111
16     19.4421517606458
17     12.4855862140182
18     17.2465092335239
19     16.5187902202359
20     18.2568086848227
21     21.0398773221490
22     20.8197995117644
23     19.4550121388048
24     19.0420079718540
25     18.7426794599816
26     21.9074674910107
27     22.4518360916603
28     07.6558106615249
29     07.6901542955386
             ...
160    18.2587480773873
161    17.7483338894863
162    19.2334786457434
163    19.6587653440727
164         18.86405986
165       19.1804290564
166    21.5792228376170
167       22.2938715375
168    22.2000016232817
169    21.6199034769511
170    15.9167329209552
171    17.2026408475395
172    18.8399047757989
173    21.1010451539524
174    21.5899626864141
175    17.0403283448478
176    21.6222648513256
177         23.63632266
178       22.8135801383
179    24.4054091337614
180    29.1906133427081
181    23.3408420665600
182         00.03451320
183    15.8747293979422
184         28.03362242
185    00.5475524396245
186    26.8076638990720
187         01.95788428
188                 nan
189                 nan
Name: DEJ2000, Length: 190, dtype: object

In [15]:
excols = ['typedident','RAJ2000','DEJ2000']
hipmerge = hipsimbad[excols]
hipmerge = hipmerge.rename(index=str, columns=dict(zip(excols,['HIP','RAJ2000_HIP','DEJ2000_HIP'])))
hipmerge.DEJ2000_HIP = hipmerge.DEJ2000_HIP.apply(lambda a: a.replace(u'\N{MINUS SIGN}', '-').replace(u'\N{PLUS SIGN}', '+')).replace('','-999').astype(float)
hipmerge.RAJ2000_HIP = hipmerge.RAJ2000_HIP.apply(lambda a: a.replace(u'\N{MINUS SIGN}', '-').replace(u'\N{PLUS SIGN}', '+')).replace('','-999').astype(float)
hipmerge.HIP = hipmerge.HIP.replace("", "-999").astype(float)
hipmerge = hipmerge.replace(-999, np.nan)
hipmerge = hipmerge.dropna(how="all")

In [16]:
hipmerge.tail()

,HIP,RAJ2000_HIP,DEJ2000_HIP
183,20605.0,66.200144,15.874729
184,24020.0,77.439470,28.033622
185,15624.0,50.301822,0.547552
186,22802.0,73.575068,26.807664
187,21092.0,67.798085,1.957884

## TYC

In [17]:
tycsimbad = pd.read_table('downloads/clusters_Reino/simbad_TYC.tsv', delimiter='\t',skiprows=[0,1,2,3,4,6])

/projects/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  if __name__ == '__main__':

In [18]:
tycsimbad.columns = tycsimbad.columns.str.replace(' ', '')
tycsimbad['RAJ2000'] = tycsimbad['coord1(ICRS,J2000/2000)'].apply(lambda x: str(x).split(' ')[0].strip())

tycsimbad['DEJ2000'] = tycsimbad['coord1(ICRS,J2000/2000)'].apply(lambda x: str(x).split(' ')[-1].strip())
tycsimbad.typedident = tycsimbad.typedident.apply(lambda x: str(x)[4:])
tycsimbad.columns.values

array(['#', 'typedident', 'identifier', 'typ', 'alltypes',
       'coord1(ICRS,J2000/2000)', 'RAJ2000', 'DEJ2000'], dtype=object)

In [19]:
excols = ['typedident','RAJ2000','DEJ2000']
tycmerge = tycsimbad[excols]
tycmerge = tycmerge.rename(index=str, columns=dict(zip(excols,['TYC','RAJ2000_TYC','DEJ2000_TYC'])))
tycmerge.DEJ2000_TYC = tycmerge.DEJ2000_TYC.apply(lambda a: a.replace(u'\N{MINUS SIGN}', '-').replace(u'\N{PLUS SIGN}', '+')).replace('','-999').astype(float)
tycmerge.RAJ2000_TYC = tycmerge.RAJ2000_TYC.apply(lambda a: a.replace(u'\N{MINUS SIGN}', '-').replace(u'\N{PLUS SIGN}', '+')).replace('','-999').astype(float)
tycmerge = tycmerge.replace(-999, np.nan)

In [20]:
tycmerge.head()

,TYC,RAJ2000_TYC,DEJ2000_TYC
0,1804-812-1,58.170874,25.804437
1,1266-1286-1,68.247714,15.818968
2,1265-433-1,67.045297,16.470939
3,677-227-1,68.546427,11.557955
4,1266-1175-1,69.021947,15.684005

## Gaia

In [21]:
from astroquery.gaia import Gaia
Gaia.login(user='eilin', password='Green18Lobster_!')

Created TAP+ (v1.0.1) - Connection:
	Host: gea.esac.esa.int
	Use HTTPS: False
	Port: 80
	SSL Port: 443

In [22]:
#from astropy.table import Table
#filename="downloads/clusters_Reino/hyades_reino_gaia.vot"
#Table.from_pandas(gaia).write(filename, format='votable')

In [23]:
upload_resource = 'downloads/clusters_Reino/hyades_reino_gaia.vot'
job = "SELECT gaiadr1.gaia_source.source_id, gaiadr1.gaia_source.dec, gaiadr1.gaia_source.ra \
       FROM gaiadr1.gaia_source \
       JOIN user_eilin.table1 \
       ON gaiadr1.gaia_source.source_id = user_eilin.table1.col1" 
j = Gaia.launch_job(query=job, verbose=True, dump_to_file=True,
                    upload_resource=upload_resource, upload_table_name="table_test")
r = j.get_results()
r.pprint()

Launched query: 'SELECT  TOP 2000 gaiadr1.gaia_source.source_id, gaiadr1.gaia_source.dec, gaiadr1.gaia_source.ra        FROM gaiadr1.gaia_source        JOIN user_eilin.table1        ON gaiadr1.gaia_source.source_id = user_eilin.table1.col1'

200 200
[('Date', 'Tue, 30 Jul 2019 10:50:06 GMT'), ('Server', 'Apache/2.4.6 (Red Hat Enterprise Linux) OpenSSL/1.0.2k-fips PHP/5.4.16 mod_jk/1.2.43'), ('Cache-Control', 'no-cache, no-store, max-age=0, must-revalidate'), ('Pragma', 'no-cache'), ('Expires', '0'), ('X-XSS-Protection', '1; mode=block'), ('X-Frame-Options', 'SAMEORIGIN'), ('X-Content-Type-Options', 'nosniff'), ('Content-Encoding', 'gzip'), ('Content-Disposition', 'attachment;filename="1564483806524O-result.vot"'), ('Transfer-Encoding', 'chunked'), ('Content-Type', 'application/x-votable+xml')]
Retrieving sync. results...
Query finished.
     source_id             dec                 ra
                           deg                deg
------------------- ------------------ -----------------
3312644881687518976 15.818861952443418 68.24814843040737
3312921374502681984  16.47080629125407 67.04579382965609
3306303998130681728 11.557861899521672 68.54685024676685
3309956850635519488 15.683904334049787 69.02236016853156
3314484089763294592 18.500111173052733 66.99614693378767
3313259165090609280 16.762393446108078 68.40862242098031
3312602344331419136 15.827471827135854 68.63448474418476
3313630078465745280  16.37883877957178 66.05365557738706
3310876798270577792 14.260583575278849 66.85602698442572
3391728561185367168 13.932918781664366 75.40051556488665
                ...                ...               ...
3396115646939927552 16.021439948065133 83.73459649773127
3399771248225858944 20.407989608805316 87.34860418382412
3402663135604113920  20.60486096521376 85.25599275288526
3402090461845409792  20.64675243662075 82.55382594013157
3407612484118068352 18.692621867941316 76.89727041531712
3407518510233429248 19.017836209713035   75.779857535228
3412605297699792512    20.882104190462  71.7876631388275
3413223223234482048  22.64708243647043   73.198510380436
3407092655635564544 17.900814354898312 76.08645215281663
3444787247130393600 30.807052128998727 86.63361924663998
Length = 172 rows

WARNING: W35: sync_20190730105006.xml.gz:5:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: sync_20190730105006.xml.gz:6:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: sync_20190730105006.xml.gz:7:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: sync_20190730105006.xml.gz:8:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W35: sync_20190730105006.xml.gz:10:0: W35: 'value' attribute required for INFO elements [astropy.io.votable.tree]
WARNING: W27: sync_20190730105006.xml.gz:11:0: W27: COOSYS deprecated in VOTable 1.2 [astropy.io.votable.tree]

In [24]:
gaiares = r.to_pandas().astype(str)

dd = gaiares.merge(gaia, on="source_id", how="outer")

In [25]:
set(dd.source_id.dropna().tolist()) - set(gaiares.source_id.tolist())
# This is the first one in the table and it is lost in the process somehow... fix that:

{'67351752990540544'}

In [26]:
gaiares = gaiares.append({"source_id":'67351752990540544', "ra" : 58.171521868568654, "dec" : 25.804222936867426 },ignore_index=True)
gaiares = gaiares.rename(index=str, columns=dict(zip(["source_id","ra","dec"],['source_id','RAJ2000_GaiaDR1','DEJ2000_GaiaDR1'])))

In [27]:
gaiares.to_csv("downloads/clusters_Reino/gaia_hyades_reino.csv", index=False)

In [28]:
gaiares.head()

,source_id,DEJ2000_GaiaDR1,RAJ2000_GaiaDR1
0,3312644881687518976,15.818861952443418,68.24814843040737
1,3312921374502681984,16.47080629125407,67.04579382965609
2,3306303998130681728,11.557861899521672,68.54685024676685
3,3309956850635519488,15.683904334049787,69.02236016853156
4,3314484089763294592,18.500111173052733,66.99614693378767

### Now merge all tables together

In [29]:
hipmerge.HIP.head()

0    18018.0
1    19862.0
2    19834.0
3    21138.0
4    18327.0
Name: HIP, dtype: float64

In [30]:
df = df.merge(hipmerge, on="HIP", how="left")
df = df.merge(tycmerge, on="TYC", how="left")
df = df.merge(gaiares, on="source_id", how="left")
df.head()

,HIP,TYC,source_id,c,p,RV,e_RV,s_RV,plx_mod,e_plx_mod,RAJ2000_HIP,DEJ2000_HIP,RAJ2000_TYC,DEJ2000_TYC,DEJ2000_GaiaDR1,RAJ2000_GaiaDR1
0,NaN,1804-812-1,67351752990540544,0.4332,0.9333,35.280,1.092,8.0,22.658,0.158,NaN,NaN,NaN,NaN,25.8042,58.1715
1,NaN,1266-1286-1,3312644881687518976,0.2320,0.9723,40.730,1.078,8.0,21.223,0.161,NaN,NaN,68.247714,15.818968,15.818861952443418,68.24814843040737
2,NaN,1265-433-1,3312921374502681984,0.4752,0.9243,40.040,1.085,8.0,23.496,0.207,NaN,NaN,NaN,NaN,16.47080629125407,67.04579382965609
3,NaN,677-227-1,3306303998130681728,6.6793,0.0829,41.212,1.005,10.0,NaN,NaN,NaN,NaN,NaN,NaN,11.557861899521672,68.54685024676685
4,NaN,1266-1175-1,3309956850635519488,0.2382,0.9712,40.800,1.051,8.0,20.323,0.158,NaN,NaN,69.021947,15.684005,15.683904334049787,69.02236016853156

In [31]:
df.head(20)

,HIP,TYC,source_id,c,p,RV,e_RV,s_RV,plx_mod,e_plx_mod,RAJ2000_HIP,DEJ2000_HIP,RAJ2000_TYC,DEJ2000_TYC,DEJ2000_GaiaDR1,RAJ2000_GaiaDR1
0,NaN,1804-812-1,67351752990540544,0.4332,0.9333,35.280,1.092,8.0,22.658,0.158,NaN,NaN,NaN,NaN,25.8042,58.1715
1,NaN,1266-1286-1,3312644881687518976,0.2320,0.9723,40.730,1.078,8.0,21.223,0.161,NaN,NaN,68.247714,15.818968,15.818861952443418,68.24814843040737
2,NaN,1265-433-1,3312921374502681984,0.4752,0.9243,40.040,1.085,8.0,23.496,0.207,NaN,NaN,NaN,NaN,16.47080629125407,67.04579382965609
3,NaN,677-227-1,3306303998130681728,6.6793,0.0829,41.212,1.005,10.0,NaN,NaN,NaN,NaN,NaN,NaN,11.557861899521672,68.54685024676685
4,NaN,1266-1175-1,3309956850635519488,0.2382,0.9712,40.800,1.051,8.0,20.323,0.158,NaN,NaN,69.021947,15.684005,15.683904334049787,69.02236016853156
5,NaN,1269-57-1,3314484089763294592,1.4393,0.6963,38.135,3.941,8.0,20.643,0.143,NaN,NaN,NaN,NaN,18.500111173052733,66.99614693378767
6,NaN,1266-149-1,3313259165090609280,0.5251,0.9134,39.410,1.334,8.0,20.578,0.200,NaN,NaN,NaN,NaN,16.762393446108078,68.40862242098031
7,NaN,1266-944-1,3312602344331419136,0.8486,0.8378,40.160,1.091,8.0,19.099,0.161,NaN,NaN,NaN,NaN,15.827471827135854,68.63448474418476
8,NaN,1265-569-1,3313630078465745280,1.0615,0.7864,34.960,3.419,8.0,17.596,0.142,NaN,NaN,NaN,NaN,16.37883877957178,66.05365557738706
9,NaN,680-594-1,3310876798270577792,3.9617,0.2656,40.532,1.002,10.0,NaN,NaN,NaN,NaN,NaN,NaN,14.260583575278849,66.85602698442572
10,NaN,697-59-1,3391728561185367168,0.4726,0.9249,42.738,1.119,2.0,23.347,0.210,NaN,NaN,NaN,NaN,13.932918781664366,75.40051556488665
11,NaN,1271-879-1,3406216379227986048,3.8488,0.2783,43.560,1.673,8.0,NaN,NaN,NaN,NaN,NaN,NaN,17.068994577842872,70.8158234122362
12,NaN,1280-58-1,3405988677241799040,0.1327,0.9876,41.310,1.113,8.0,20.579,0.167,NaN,NaN,NaN,NaN,16.41194798803364,72.50333779596959
13,NaN,1280-681-1,3405127244241184256,0.2718,0.9652,41.866,1.488,2.0,16.679,0.175,NaN,NaN,NaN,NaN,15.9474538928153,72.21564302260198
14,NaN,1274-1204-1,3410640882737635200,0.1193,0.9894,39.330,1.053,8.0,19.279,0.204,NaN,NaN,68.170609,19.113481,19.113341691091566,68.17100899561349
15,18018.0,NaN,66482348530642176,0.0164,0.9994,34.420,1.007,5.0,24.600,0.165,57.762979,23.903651,NaN,NaN,23.903450610370992,57.76367460047049
16,19862.0,NaN,3312197930211158784,0.0777,0.9944,38.049,1.014,5.0,22.346,0.179,63.890367,15.706268,NaN,NaN,15.706170508849757,63.89088811561303
17,19834.0,NaN,3311492799660064384,0.0672,0.9955,37.867,1.063,5.0,21.135,0.152,63.793368,14.398455,NaN,NaN,14.398379033792155,63.7938615374625
18,21138.0,NaN,3312564033223630720,0.1643,0.9831,40.367,1.022,5.0,22.017,0.174,67.968634,15.499481,NaN,NaN,15.499380300810547,67.9690893486698
19,18327.0,1253-868-1,43538289638888064,0.4857,0.9220,36.027,1.008,5.0,24.449,0.156,58.777088,16.998478,NaN,NaN,16.998375793811284,58.777732332797164

In [32]:
df = df.drop_duplicates()
df["RAJ2000"] = df[~df.DEJ2000_GaiaDR1.isnull()].RAJ2000_GaiaDR1
df["DEJ2000"] = df[~df.DEJ2000_GaiaDR1.isnull()].DEJ2000_GaiaDR1

df.loc[df.DEJ2000_GaiaDR1.isnull(),"RAJ2000"] = df.loc[df.DEJ2000_GaiaDR1.isnull(),["RAJ2000_TYC","RAJ2000_HIP"]].mean(axis=1)
df.loc[df.DEJ2000_GaiaDR1.isnull(),"DEJ2000"] = df.loc[df.DEJ2000_GaiaDR1.isnull(),["DEJ2000_TYC","DEJ2000_HIP"]].mean(axis=1)

df["ID"] = df[~df.DEJ2000_GaiaDR1.isnull()].source_id
df.loc[df.DEJ2000_GaiaDR1.isnull(),"ID"] = df.loc[df.DEJ2000_GaiaDR1.isnull(),"TYC"]#.apply(lambda x: "TYC {}".format(x))
df.loc[df.DEJ2000_GaiaDR1.isnull(),"ID"] = df.loc[df.DEJ2000_GaiaDR1.isnull(),"HIP"]#.apply(lambda x: "HIP {}".format(int(x)))

df.tail(20)

,HIP,TYC,source_id,c,p,RV,e_RV,s_RV,plx_mod,e_plx_mod,RAJ2000_HIP,DEJ2000_HIP,RAJ2000_TYC,DEJ2000_TYC,DEJ2000_GaiaDR1,RAJ2000_GaiaDR1,RAJ2000,DEJ2000,ID
231,NaN,91-1330-1,3282171745125201792,0.0161,0.9920,NaN,NaN,NaN,20.972,0.194,NaN,NaN,NaN,NaN,4.669806758828722,69.49307460471893,69.49307460471893,4.669806758828722,3282171745125201792
232,NaN,673-130-1,3306066434899058560,8.5347,0.0140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.939207009649229,67.51392307171365,67.51392307171365,10.939207009649229,3306066434899058560
233,NaN,142-1245-1,3321943966921179648,0.7774,0.6779,NaN,NaN,NaN,14.200,0.389,NaN,NaN,NaN,NaN,6.86167379926626,90.2622699309479,90.2622699309479,6.86167379926626,3321943966921179648
234,NaN,701-171-1,3334853607820749184,8.5170,0.0141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.945216752986335,84.03544335995052,84.03544335995052,8.945216752986335,3334853607820749184
235,NaN,700-935-1,3337480684695467648,0.1246,0.9396,NaN,NaN,NaN,13.027,0.212,NaN,NaN,NaN,NaN,8.2011173106143,80.72705636426078,80.72705636426078,8.2011173106143,3337480684695467648
236,NaN,723-773-1,3340209775636513408,6.9801,0.0305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.09272965423982,86.25848986249278,86.25848986249278,12.09272965423982,3340209775636513408
237,NaN,706-291-1,3388382060107608832,1.9449,0.3782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.964093466002504,77.2629837183272,77.2629837183272,12.964093466002504,3388382060107608832
238,NaN,1297-1232-1,3396115646939927552,0.2387,0.8875,NaN,NaN,NaN,13.072,0.247,NaN,NaN,83.734463,16.021517,16.021439948065133,83.73459649773127,83.73459649773127,16.021439948065133,3396115646939927552
239,NaN,1307-639-1,3399771248225858944,8.9274,0.0115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.407989608805316,87.34860418382412,87.34860418382412,20.407989608805316,3399771248225858944
240,NaN,1306-153-1,3402663135604113920,11.3295,0.0035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.60486096521376,85.25599275288526,85.25599275288526,20.60486096521376,3402663135604113920
241,NaN,1309-390-1,3402090461845409792,6.6244,0.0364,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.64675243662075,82.55382594013157,82.55382594013157,20.64675243662075,3402090461845409792
242,NaN,1286-461-1,3407612484118068352,1.2405,0.5378,NaN,NaN,NaN,14.852,0.301,NaN,NaN,NaN,NaN,18.692621867941316,76.89727041531712,76.89727041531712,18.692621867941316,3407612484118068352
243,NaN,1289-1656-1,3407518510233429248,0.1980,0.9057,NaN,NaN,NaN,18.468,0.309,NaN,NaN,75.779562,19.017979,19.017836209713035,75.779857535228,75.779857535228,19.017836209713035,3407518510233429248
244,NaN,1279-2259-1,3412605297699792512,0.2826,0.8682,NaN,NaN,NaN,23.681,0.212,NaN,NaN,71.787224,20.882313,20.882104190462,71.7876631388275,71.7876631388275,20.882104190462,3412605297699792512
245,NaN,1831-63-1,3413223223234482048,4.2138,0.1216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.64708243647043,73.198510380436,73.198510380436,22.64708243647043,3413223223234482048
246,NaN,1286-2091-1,3407092655635564544,0.3046,0.8587,NaN,NaN,NaN,12.407,0.204,NaN,NaN,76.086256,17.900898,17.900814354898312,76.08645215281663,76.08645215281663,17.900814354898312,3407092655635564544
247,NaN,2405-952-1,3444787247130393600,6.0597,0.0483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.807052128998727,86.63361924663998,86.63361924663998,30.807052128998727,3444787247130393600
248,15624.0,57-78-1,NaN,1.8677,0.3930,NaN,NaN,NaN,9.647,0.153,50.301822,0.547552,NaN,NaN,NaN,NaN,50.3018,0.547552,15624
249,22802.0,1840-328-1,NaN,3.1865,0.2033,NaN,NaN,NaN,15.429,0.458,73.575068,26.807664,NaN,NaN,NaN,NaN,73.5751,26.8077,22802
250,21092.0,NaN,NaN,1.5757,0.4548,NaN,NaN,NaN,33.196,1.600,67.798085,1.957884,NaN,NaN,NaN,NaN,67.7981,1.95788,21092

In [58]:
# save the Gaia IDs to text 
df.source_id.dropna().to_csv("downloads/clusters_Reino/gaiaidshyades_reino.txt", index=False, header=True)

### You need to go to the Gaia archive and propagate epoch 2015.5 coordinates to epoch 2000

Here is the ADQL query (modify `user_eilin`, and other details as needed):

    SELECT source_id, 
           COORD1(EPOCH_PROP_POS(ra, dec, parallax, pmra, pmdec, radial_velocity, 2015.5, 2000)),
           COORD2(EPOCH_PROP_POS(ra, dec, parallax, pmra, pmdec, radial_velocity, 2015.5, 2000)) 
    
    FROM gaiadr2.gaia_source as g
    
    INNER JOIN user_eilin.gaiachyades2 AS ei
    
    ON (g.source_id = ei.gch)

### After submitting the query, download results 

...as csv file to `"downloads/clusters_Reino/hyades_reino_coords_propagated_to_epoch2000.csv"`


### Finally

Merge new coordinates with Reino's table. 

Keep an eye on the `downloads/cluster_catalog_characteristics.csv` entry, update data format if needed (should be up to date).

In [41]:
corrected = pd.read_csv("downloads/clusters_Reino/hyades_reino_coords_propagated_to_epoch2000.csv")
corrected = corrected.rename(index=str, columns={"coord1":"RAJ2000_epoch2000",
                                                 "coord2":"DEJ2000_epoch2000"})
corrected.source_id = corrected.source_id.astype(str)
corrected.head()

,source_id,RAJ2000_epoch2000,DEJ2000_epoch2000
0,67351752990540544,58.170849,25.804446
1,3312644881687518976,68.247701,15.818970
2,3312921374502681984,67.045281,16.470943
3,3306303998130681728,68.546428,11.557955
4,3309956850635519488,69.021931,15.684008

In [50]:
newdf = df.merge(corrected, how="left", on="source_id")
newdf.loc[~newdf.RAJ2000_epoch2000.isnull(),"RAJ2000"] = newdf.RAJ2000_epoch2000.dropna()
newdf.loc[~newdf.DEJ2000_epoch2000.isnull(),"DEJ2000"] = newdf.DEJ2000_epoch2000.dropna()

((251, 21), (251, 19), (173, 3))

In [55]:
newdf.to_csv("downloads/clusters_Reino/hyades_reino18.csv", index=False)